[package]
name = "utils"
version = "0.1.0"
edition = "2024"

[dependencies]
bitboard_derive = { path = "../bitboard/bitboard_derive" }
bitboard_traits = { path = "../bitboard/bitboard_traits" }
rand = "0.9.2"
serde = "1.0.228"
serde_json = "1.0.145"
